# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Spring Boot
bin/
target/
build/
*.jar
*.war

# Logs
logs/
*.log

# Gradle
.gradle/
build/

# Maven
.mvn/
target/
*.log

# Docker
# Dockerfile
# docker-compose.yml
# docker-compose.override.yml

# Test reports
TEST-*.xml

# IDE-specific files
.vscode/
*.code-workspace
*.code-workspace-staging
*.code-workspace-global
*.code-workspace-staging-global

# Node.js dependencies (if applicable)
node_modules/

# Zipkin Server
zipkin-server/*
!zipkin-server/zipkin-start.sh

# Coverage Report
coverage-report/*
!coverage-report/pom.xml
!coverage-report/src/**

# File service
file-service/src/main/resources/static

grafana/*